/*--------------------------------------------------------------
/** 1. VARIABLES
--------------------------------------------------------------*/
:root {
    /* widths for rows and containers
     */
    --header-height       : 160px;
    --header-height-min   : 80px;
}
/* on mobile devices below 600px
 */
@media screen and (max-width: 600px) {
    :root {
        --header-height : 100px;
        --header-height-min   : 80px;
    }
}
/* Theme Colors */
:root {
    --accent-color       : #FFC43F;
    --dark-color         : #222222;
    --light-dark-color   : #727272;
    --light-color        : #fff;
    --grey-color         : #dbdbdb;
    --light-grey-color   : #fafafa;
    --primary-color      : #6995B1;
    --light-primary-color   : #eef1f3;
}

/* Fonts */
:root {
    --body-font           : "Open Sans", sans-serif;
    --heading-font        : "Nunito", sans-serif;
}

body {
  --bs-link-color: #333;
  --bs-link-hover-color:#333;

  --bs-link-color-rgb: 40,40,40;
  --bs-link-hover-color-rgb: 0,0,0;

  /* --bs-link-color: #FFC43F;
  --bs-link-hover-color: #FFC43F; */

  --bs-light-rgb: 248, 248, 248;

  --bs-font-sans-serif: "Open Sans", sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 2;
  --bs-body-color: #747474;

  --bs-primary: #FFC43F;
  --bs-primary-rgb: 255, 196, 63;

  --bs-success: #a3be4c;
  --bs-success-rgb: 163, 190, 76;
  
  --bs-primary-bg-subtle: #FFF9EB;
  --bs-success-bg-subtle: #eef5e5;
  
  --bs-border-color: #F7F7F7;

  --bs-secondary-rgb: 230, 243, 251;
  /* --bs-success-rgb: 238, 245, 228; */
  --bs-danger-rgb: 249, 235, 231;
  --bs-warning-rgb: 255, 249, 235;
  --bs-info-rgb: 230, 243, 250;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ffc43f;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #f7a422;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ffc43f;
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #d3d7dd;
  --bs-btn-disabled-border-color: transparent;
}
.btn-outline-primary {
  --bs-btn-color: #ffc43f;
  --bs-btn-border-color: #ffc43f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ffc107;
  --bs-btn-hover-border-color: #ffc107;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ffc107;
  --bs-btn-active-border-color: #ffc107;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff3cd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #fff3cd;
  --bs-gradient: none;
}
.btn-outline-light {
  --bs-btn-color: #747474;
  --bs-btn-border-color: #EFEFEF;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #EFEFEF;
  --bs-btn-hover-border-color: #EFEFEF;
  --bs-btn-focus-shadow-rgb: 248,249,250;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #EFEFEF;
  --bs-btn-active-border-color: #EFEFEF;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #EFEFEF;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #EFEFEF;
  --bs-gradient: none;
}
.btn-warning {
  --bs-btn-color: #747474;
  --bs-btn-bg: #FCF7EB;
  --bs-btn-border-color: #FCF7EB;
  --bs-btn-hover-color: #747474;
  --bs-btn-hover-bg: #FFECBE;
  --bs-btn-hover-border-color: #FFECBE;
  --bs-btn-focus-shadow-rgb: 217,164,6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #FFECBE;
  --bs-btn-active-border-color: #FFECBE;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #FCF7EB;
  --bs-btn-disabled-border-color: #FCF7EB;
}
.btn-success {
  --bs-btn-color: #222;
  --bs-btn-bg: #EEF5E4;
  --bs-btn-border-color: #EEF5E4;
  --bs-btn-hover-color: #222;
  --bs-btn-hover-bg: #9de3c2;
  --bs-btn-hover-border-color: #9de3c2;
  --bs-btn-focus-shadow-rgb: 60,153,110;
  --bs-btn-active-color: #222;
  --bs-btn-active-bg: #9de3c2;
  --bs-btn-active-border-color: #9de3c2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #222;
  --bs-btn-disabled-bg: #EEF5E4;
  --bs-btn-disabled-border-color: #EEF5E4;
}
.btn-danger {
  --bs-btn-color: #222;
  --bs-btn-bg: #FFEADA;
  --bs-btn-border-color: #FFEADA;
  --bs-btn-hover-color: #222;
  --bs-btn-hover-bg: #ecc9af;
  --bs-btn-hover-border-color: #ecc9af;
  --bs-btn-focus-shadow-rgb: 60,153,110;
  --bs-btn-active-color: #222;
  --bs-btn-active-bg: #ecc9af;
  --bs-btn-active-border-color: #ecc9af;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #222;
  --bs-btn-disabled-bg: #FFEADA;
  --bs-btn-disabled-border-color: #FFEADA;
}
body {
  letter-spacing: 0.03em;
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--heading-font);
  color: var(--dark-color);
  font-weight: 700;
}
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-weight: 700;
}
.breadcrumb.text-white {
  --bs-breadcrumb-divider-color: #fff;
  --bs-breadcrumb-item-active-color: var(--bs-primary);
}
.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--bs-primary);
}
.nav-pills .nav-link {
  --bs-nav-pills-link-active-color: #111;
  --bs-nav-pills-link-active-bg: #f1f1f1;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 3rem;
}
/*----------------------------------------------*/
/* 6. SITE STRUCTURE */
/*----------------------------------------------*/
/* 6.1 Header
--------------------------------------------------------------*/
/* Preloader */
.preloader-wrapper {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 111;
  background: #fff;
}

.preloader-wrapper .preloader {
  margin: 20% auto 0;
  transform: translateZ(0);
}

.preloader:before,
.preloader:after {
  content: '';
  position: absolute;
  top: 0;
}

.preloader:before,
.preloader:after,
.preloader {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: animation 1.2s infinite ease-in-out;
}

.preloader {
  animation-delay: -0.16s;
}

.preloader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}

.preloader:after {
  left: 3.5em;
}

@keyframes animation {
  0%,
  80%,
  100% {
    box-shadow: 0 2em 0 -1em var(--accent-color);
  }
  40% {
    box-shadow: 0 2em 0 0 var(--accent-color);
  }
}

/* *** Start editing below this line *** */
.container-fluid {
  max-width: 1600px;
}
.banner-blocks {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
}
.block-1 { grid-area: 1 / 1 / 3 / 8; }
.block-2 { grid-area: 1 / 8 / 2 / 13; }
.block-3 { grid-area: 2 / 8 / 3 / 13; }

@media screen and (max-width:1140px) {
  .banner-blocks {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .block-1 { grid-area: 1 / 1 / 3 / 2; }
  .block-2 { grid-area: 3 / 1 / 4 / 2; }
  .block-3 { grid-area: 4 / 1 / 5 / 2; }
  
}

/* banner ad */
.banner-ad {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}
.banner-ad.blue {
  background: #e6f3fb;
}
.banner-ad .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}
.banner-ad .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  margin: 4px;
  background: #FFF;
  opacity: 1;
  transition: background 0.3s ease-out;
}
.banner-ad .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background: #FFC43F;
}
.banner-ad .swiper-slide {
  min-height: 630px;
  display: flex;
}
/* .banner-ad .banner-content {
  padding: 52px;
}
.banner-ad.large .banner-content {
  padding: 90px;
} */
.banner-ad .banner-content .categories {
  font-family: 'Garamond';
  font-size: 37px;
  text-transform: capitalize;
  color: var(--dark-color);
}
.banner-ad .banner-content .sale {
  position: relative;
  display: inline-block;
}
.banner-ad .banner-content .sale:before {
  content: '';
  width: 80px;
  border-bottom: 1px solid #111;
  position: absolute;
  bottom: 6px;
}
.banner-ad .banner-content .sale:after {
  content: 'SALE';
  font-family: var(--body-font);
  position: absolute;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #252525;
  bottom: 0;
  right: 0;
}
.banner-ad .banner-content .banner-title {
  letter-spacing: 0.02em;
  font-size: 33px;
}
.banner-ad.large .banner-content .categories {
  color: var(--accent-color);
}
.banner-ad.large .banner-content .banner-title {
  font-size: 54px;
}

/* Swiper carousel */
.swiper-prev,
.swiper-next {
  width: 38px;
  height: 38px;
  line-height: 38px;
  background: #F1F1F1;
  color: #222222;
  padding: 0;
  text-align: center;
  border-radius: 10px;
  --bs-btn-border-color: transparent;
  --bs-btn-active-bg: #ec9b22;
  --bs-btn-active-border-color: transparent;
  --bs-btn-hover-bg: #FFC43F;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-disabled-color: #ccc;
  --bs-btn-disabled-bg: #eaeaea;
  --bs-btn-disabled-border-color: #eaeaea
}
.swiper-prev:hover,
.swiper-next:hover {
  background: #FFC43F;
}
.btn-link {
  margin-right: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  text-transform: capitalize;
  color: #787878;
}
/* category carousel */
.category-carousel .category-item {
  background: #FFFFFF;
  border: 1px solid #FBFBFB;
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  text-align: center;
  padding: 0px 0px;
  margin: 20px 0;
  transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
}
.category-carousel .category-item:hover {
  transform: translate3d(0,-10px,0);
}
.category-carousel .category-item .category-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
}
.tailor_info {
    background-color: #000000;
    color: #ffffff;
	    padding: 10px;
}
.follow-btn:hover {
    background: #ff8a00;
}
.follow-btn {
    border-top: 1px solid;
    padding: 5px;
	background: #000000;
	border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.tailor_info .stars {
    font-size: 10px;
}
.tailor_info .stars .fa-star {
    color: #FDCC0D;
}
.follow-btn a {
    color: #ffffff;
    text-decoration: none;
	    font-size: 16px;
    font-weight: 600;
}
.swiper-prev, .swiper-next {
        background-color: #fff;
    color: #000;
    border-radius: 50px;
    border: 1px solid #e7e7e7;
}
.swiper-prev:hover, .swiper-next:hover {
    background: #FF8A00;
    color: #ffffff;
}
.category-carousel .category-item img {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

/* brand carousel */
.brand-carousel .brand-item {
  background: #FFFFFF;
  border: 1px solid #FBFBFB;
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  padding: 16px;
}
.brand-carousel .brand-item img {
  width: 100%;
  border-radius: 12px;
}
.brand-carousel .brand-item .brand-details {
  margin-left: 15px;
}
.brand-carousel .brand-item .brand-title {
  margin: 0;
}

/* product tabs */
.product-tabs .nav-tabs {
  justify-content: flex-end;
  border: none;
  
  --bs-nav-link-hover-color: #111;
  --bs-nav-link-color: #555;
  --bs-nav-tabs-link-border-color: #fff;
  --bs-nav-tabs-link-hover-border-color: transparent;
  --bs-nav-tabs-link-active-border-color: #fff;
}
.product-tabs .nav-tabs .nav-link.active, 
.product-tabs .nav-tabs .nav-item.show .nav-link {
  /* border: none; */
  border-bottom: 3px solid var(--accent-color);
}

/* product-grid */
/* .product-grid {
  gap: 25px;
} */
.product-item {
  position: relative;
  padding: 16px;
  background: #FFFFFF;
  border: 1px solid #FBFBFB;
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  margin-bottom: 30px;
  transition: box-shadow 0.3s ease-out;
}
.product-item:hover {
  box-shadow: 0px 21px 44px rgba(0, 0, 0, 0.08);
}
.product-item h3 {
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  color: #333333;
  margin: 0;
}
.product-item figure {
  background: #F9F9F9;
  border-radius: 12px;
  text-align: center;
}
.product-item figure img {
  max-height: 210px;
  height: auto;
}
.product-item .btn-wishlist {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #d8d8d8;
  transition: all 0.3s ease-out;
}
.product-item .btn-wishlist:hover {
  background: rgb(240, 56, 56);
  color: #fff;
}
.product-item .qty {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #9D9D9D;
}
.product-item .rating {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-transform: capitalize;
  color: #222222;
}
.product-item .rating iconify-icon {
  color: #FFC43F;
}
.product-item .price {
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  text-transform: capitalize;
  color: #222222;
}
.product-item .product-qty {
  width: 85px;
}
.product-item .btn-link {
  text-decoration: none;
}
.product-item #quantity {
  height: auto;
  width: 28px;
  text-align: center;
  border: none;
  margin: 0;
  padding: 0;
}
.product-item .btn-number {
  width: 26px;
  height: 26px;
  line-height: 1;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 6px;
  color: #222;
  padding: 0;
}

/* cart */
.cart .product-qty {
  min-width: 130px;
}

/* floating image */
.image-float {
  margin-top: -140px;
  margin-bottom: -140px;
}

p.no_email_footer span {
    line-height: 2.5;
}

@media screen and (max-width:991px) {
  .image-float {
    margin: 0;
  }
}
 /* post item */
.post-item .post-meta {
  font-size: 0.8rem;
  line-height: 1;
}
.post-item .post-meta svg {
  margin-right: 5px;
}

@media screen and (max-width: 991px) {
  /* offcanvas menu */
  .offcanvas-body .nav-item {
    font-weight: 700;
    border-bottom: 1px solid #d1d1d1;
  }
  .offcanvas-body .filter-categories {
    width: 100%;
    margin-bottom: 20px !important;
    border: 1px solid #d1d1d1 !important;
    padding: 14px;
    border-radius: 8px;
  }
  /* dropdown-menu */
  .dropdown-menu {
    padding: 0;
    border: none;
    line-height: 1.4;
    font-size: 0.9em;
  }
  .dropdown-menu a {
    padding-left: 0;
  }
  .dropdown-toggle::after {
    position: absolute;
    right: 0;
    top: 21px;
  }
}

/* single product */
/* product-thumbnail-slider */
.product-thumbnail-slider {
  height: 740px;
}
@media screen and (max-width:992px) {
  .product-thumbnail-slider {
    margin-top: 20px;
    height: auto;
  }
}
@media screen and (min-width:992px) {
  .product-thumbnail-slider {
    height: 520px;
  }
}
@media screen and (min-width:1200px) {
  .product-thumbnail-slider {
    height: 740px;
  }
}

.center-row {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}
.btm-row {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
	    background-color: #FF8A00;
}
.hero__search__form form input {
    width: 100%;
    border: none;
    height: 48px;
    font-size: 16px;
    color: #b2b2b2;
    padding-left: 20px;
	    border-radius: 8px;
}
.hero__search__form {
    width: 610px;
    height: 50px;
    border: 1px solid #ebebeb;
    position: relative;
    float: left;
	border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
	    border-radius: 8px;
}
.hero__search__form form input:focus {
    outline: none;
}

.hero__search {
    overflow: hidden;
    margin-bottom: 30px;
}
.hero__search__form form button {
    position: absolute;
    right: 0;
    top: -1px;
    height: 50px;
}
.site-btn {
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    display: inline-block;
    padding: 13px 30px 12px;
    background: #7fad39;
    border: none;
}
.btm-row ul.navbar-nav li.nav-item a {
    padding: 0px;
    color: #ffffff;
}
.btm-row ul.navbar-nav li.nav-item.active a.nav-link {
    font-weight: 600;
}
.btm-row ul.navbar-nav li.nav-item i {
    font-size: 10px;
}
.topbar {
    background-color: #000000 !important;
}
li.cart a {
    text-decoration: none;
}
li.cart span {
    background: #2C742F;
    color: #ffffff;
    border: 1px solid #2C742F;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    line-height: 15px;
    position: relative;
    top: -10px;
    right: 10px;
    font-size: 10px;
}
li.cart {
    margin-left: 15px;
}
.btns-set a {
    background: #FF8A00;
    color: #ffffff;
    padding: 8px 30px;
    text-align: center;
	    text-decoration: none;
}
.center-row .border-bottom {
    align-items: center;
}
.info-head small.fa {
    color: #ffffff !important;
}
.info-head small {
    color: #ffffff;
}
.topbar small {
    color: #ffffff;
}
.topbar small.fa {
    color: #FF8A00 !important;
}
.searchbar {
    display: flex !important;
    justify-content: center;
}
.header__cart ul {
    display: flex;
    list-style-type: none;
    padding-left: 0px !important;
}

.cust-slider .carousel-caption {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
	    bottom: auto;
		    width: 100%;
}
.cust-slider .carousel-caption p {
    margin-bottom: 35px;
}
.cust-slider .carousel-caption h1 {
    font-size: 56px;
    color: #ffffff;
}
.cust-slider .carousel-caption span {
 
   color: #00B207;
}
.cust-slider .carousel-caption h4 {
    color: #ffffff;
}

.cust-slider .carousel-caption a {
    color: #ffffff;
    text-decoration: none;
    background: #00B207;
    border-radius: 50px;
    padding: 10px 35px;
}
.cust-slider .carousel-caption a:hover {
    background: #ff8a00;
}

.services-block {
    background-image: url("images/bg-img1.png");
	    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.serv--boxs {
    border: 1px solid #000000;
}
.serv--boxs img {
    width: 70px;
    margin-bottom: 20px;
}
.serv-cont h5 {
    color: #000000;
    font-weight: 700;
}
.serv-cont p {
    color: #000000;
    font-size: 16px;
    line-height: 20px;
}
.serv-cont a {
    color: #000000 !important;
    text-decoration: none;
    border-bottom: none !important;
}
.services-block h2.text-white {
    color: #000000 !important;
}
.services-block  img.img-fluid {
    margin-bottom: 20px;
}
.services-block p.text-white {
    color: #000000 !important;
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;
}
.abt-block h6 {
    background: #00B207;
    display: inline;
    color: #ffffff !important;
    padding: 7px 14px;
    border-radius: 50px;
    font-size: 14px;
}
.abt-block h2 {
    margin-top: 15px;
}
.abt-block .bold-txt {
    color: #000000;
    line-height: 20px;
    font-weight: 600;
}
.abt-block {
    padding-top: 75px !important;
    padding-bottom: 75px !important;
}
.services-block {
    padding-top: 75px !important;
    padding-bottom: 75px !important;
}
.lft_abt p {
    max-width: 400px;
	color: #000000;
    line-height: 20px;
    margin-bottom: 15px !important;
    letter-spacing: 0px;
}
.lft_abt a.btn {
    background: #000000;
    border-radius: 50px;
    padding: 10px 30px!important;
}
.lft_abt a.btn:hover {
    background: #ff8a00;
}
.btn-submit a.btn:hover {
    background: #ff8a00;
	color: #fff;
}
.services-block .py-5 {
    padding-top: 0rem !important;
}
.services-block .serv--boxs {
    padding-top: 3rem !important;
}	

.container.about {
    max-width: 100% !important;
}

@media (min-width: 1400px) {
    .about-text {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .about-text {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}
@media (min-width: 992px) {
        .about-text {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}

ul.feat--vip {
    padding-left: 0px;
    margin-bottom: 35px;
}
ul.feat--vip li {
    list-style-type: none;
    font-size: 14px;
    color: #fff;
}
.mem-infos h2 {
    color: #ffffff;
	    margin-top: 20px;
		    margin-bottom: 15px !important;
}
.mem-infos h4 {
    color: #ffffff;
    background: #000000;
    display: inline;
    padding: 10px;
    font-size: 14px;
    border-radius: 50px;
}
.mem-infos a.btn {
    background-color: #00B207;
    border-radius: 50px;
}
.mem-infos p {
    color: #ffffff;
}
.about-text p {
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px !important;
}
.about-text {
	background: #FF8A00;
}
.mem-infos {
    padding-left: 3rem;
}

.process--boxs img {
    width: 120px;
    margin-bottom: 20px;
    text-align: center;
	transition: .5s;
}
.process--boxs:hover img {
    transform: translateY(-10px);
}
.process--boxs {
    text-align: center;
}
.hiw .py-5 {
    text-align: center;
    padding-bottom: 20px !important;
}
.hiw {
    background-color: #ffffff !important;
    padding-top: 0px !important;
}
.hiw .process--boxs .serv-cont p {
    font-size: 14px;
    line-height: 18px;
}


.content{
    background: #FF8A00;
    padding: 32px 59px 40px;
    border-radius: 10px;
    margin-bottom: 25px;
    position: relative;
	text-align: center;
}
.testimonial .content img {
    width: 32px;
    margin-bottom: 20px;
}
.testimonial {
    margin-right: 20px;
}
.content:after{
    content: "";
    position: absolute;
    bottom: -14px;
    left:47%;
    border-top: 15px solid #FF8A00;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}
.description{
    margin-bottom: 0;
    color:#fff;
        font-size: 14px;
    line-height: 19px;
	text-align: center;
}
.testimonial-review{
    text-align: center;
}
.testimonial-review > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
	    margin-bottom: 12px;
}
.testimonial-review .testimonial-title{
    font-size: 16px;
    color:#fff;
    text-transform: capitalize;
	    margin-bottom: -8px;
}
.testimonial-review small {
    color: #ffffff;
    font-size: 10px;
}
.testimonial-review .testimonial-title > small{
    font-size: 13px;
    color:#fff;
}
.owl-theme .owl-controls{
    position: absolute;
    top:20%;
    width: 100%;
}
.owl-theme .owl-controls .owl-buttons div{
    background: transparent;
    opacity: 1;
    border:2px solid #fff;
}
.review-block h2.section-title {
    color: #ffffff;
	    margin-bottom: 0px;
}
.review-block .section-header {
    margin-bottom: 20px !important;
}
.owl-prev,
.owl-next{
    width: 52px;
    height: 52px;
    line-height: 45px;
}
.owl-prev:before,
.owl-next:before{
    content: "\f053";
    font-family: "Font Awesome 5 Free"; font-weight: 900;
}
.owl-next:before{
    content: "\f054"
}
.owl-theme .owl-controls .owl-prev{
    position: absolute;
    left:-21px;
}
.owl-theme .owl-controls .owl-next{
    position: absolute;
    right:0;
}
@media only screen and (max-width: 990px) {
    .testimonial{
        padding: 0 100px;
    }
}
@media only screen and (max-width: 767px) {
    .testimonial{
        padding: 0 20px;
    }
}
@media only screen and (max-width: 480px) {
    .content{
        padding: 20px;
    }
    .content:after{
        left:44%;
    }
    .description{
        font-size: 12px;
    }
}


.review-block {
    background-image: url("images/testimonials-bg.png");
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	padding-top: 75px;
    padding-bottom: 75px;
}
.category {
	padding-top: 75px;
    padding-bottom: 75px;
}
.btn-submit a.btn {
    background: #ffffff;
    border-radius: 50px;
    color: #00B207;
    padding: 10px 40px !important;
}
.portfolio-container {
    margin-top: 35px;
}

.portfolio-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    padding: 0 30px;
    right: 30px;
    left: 30px;
    bottom: -30px;
    background: #00B207;
    z-index: 3;
    text-decoration: none;
}
.portfolio-btn {	
    line-height: 0;
    transition: .1s;
    transition-delay: .3s;
    z-index: 2;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-decoration: none;
}
.portfolio-btn span {
    background: #ffffff;
    color: #000000;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 8px;
}
.portfolio-item:hover .portfolio-btn {
    opacity: 1;
}
.portfolio-box::before,
.portfolio-box::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    transition: .5s;
    z-index: 1;
    background: rgb(0 0 0 / 70%);
}
.portfolio-item {
    margin-bottom: 80px;
}
.portfolio-item:hover .portfolio-box .portfolio-title {
    background: #FF8A00;
}
.portfolio-box::before {
    left: 0;
}
.portfolio-box::after {
    right: 0;
}
.portfolio-item:hover .portfolio-box::before {
    left: 0;
    width: 50%;
}
.portfolio-item:hover .portfolio-box::after {
    right: 0;
    width: 50%;
}
.portfolio-title p.h4 {
    margin-bottom: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

footer.py-5 {
    background: #000000;
}
.footer--set h4 {
    color: #ffffff;
	margin-bottom: 20px;
	font-size: 20px;
}
.f-col1 p {
    color: #808080;
    line-height: 20px;
}
.f-col1  span {
    background-color: #1A1A1A;
    border-bottom: 1px solid #00B207;
    padding: 5px;
    color: #ffffff;
}
.footer-menu li.menu-item a {
    color: #888888;
}
.footer--set .footer-menu img {
    width: 200px;
}
div#footer-bottom {
    background: #000000;
    border-top: 1px solid;
	    padding-top: 20px;
    padding-bottom: 20px;
}
.social-links ul {
    margin-bottom: 0px !important;
}
.copyright p {
    margin-bottom: 0px;
    text-align: center;
    color: #808080;
}
.credit-link img {
    width: 200px;
}
.social-links ul a.btn {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    line-height: 18px;
    text-align: center;
    padding: 4px;
    color: #B3B3B3;
}
.social-links ul a.btn:hover {
    background: #FF8A00;
    border-color: #FF8A00;
    color: #ffffff;
}
.hero__search__form form button {
    background-color: #00B207;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.fabrics-block .py-5 {
    text-align: center;
	padding: 0px !important;
}
.centered {
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.fabrics--boxs {
    position: relative;
}
.grid-fabric {
    margin-top: 35px;
}
.fabrics--boxs img {
    border-radius: 8px;
	height: 250px;
    object-fit: cover;
}
.centered h4 {
    color: #ffffff;
    margin-bottom: 0px;
}
.centered p {
    color: #ffffff;
    margin-bottom: 0px;
    font-size: 12px;
	    line-height: 26px;
}
.centered  span {
    font-size: 16px;
    font-weight: 600;
}
.centered a {
    text-decoration: none;
    background: #ffffff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
	    color: #00B207;
	    color: #00B207;
}
.centered a:hover {
    color: #fff;
    background: #ff8a00;
}
.designs-item h4 {
    color: #000000;
    font-size: 20px;
}
.designs-item a.fw-medium {
    text-decoration: none;
    color: #00B207;
}
.designs-item:hover img {
    transform: scale(1.1);
	 transition: .5s;
}
.designs-item img {
    transition: .5s;
}
.designs-block .py-5 {
    text-align: center;
    padding-top: 0px !important;
}

.container.newsletter {
    background-color: #000000;
	    padding: 0px;
	margin-bottom: 85px;
	    border-radius: 30px;
}
.newss-cont h6.mb-3 {
    background: #323232;
    display: inline;
    color: #ffffff;
    letter-spacing: 5px;
    padding: 7px 15px;
    border-radius: 50px;
    font-size: 14px;
}
.newss-cont h2 {
    color: #ffffff;
    margin-top: 25px;
}
.newss-cont p {
    color: #ffffff;
    line-height: 20px;
    font-size: 16;
}
.newsletter .wow {
    margin: 0px;
}
.news-left {
    padding-left: 50px;
}
.newsletter .row.g-4 {
    align-items: center;
}
.news--boxs input {
    width: 50%;
    border-radius: 50px !important;
	    height: 48px;
}
.news--boxs button.btn {
    margin-left: 20px;
    border-radius: 50px !important;
    background: #FF8A00;
	    height: 48px;
		    font-size: 14px;
}
.news-image img.img-fluid {
    width: 100%;
	    border-radius: 30px;
}
.newss-cont {
    margin-bottom: 35px !important;
}
.news--boxs input::placeholder {
    font-size: 14px;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}
.order-md-last span {
    color: #00B207 !important;
    font-weight: 600 !important;
}


@media screen and (max-width: 767px) {
	.info-head {
    display: none;
}

.owl-theme .owl-controls .owl-next {
    position: absolute;
    right: -21px;
}

.btm-row ul.navbar-nav li.nav-item a {
    padding: 0px;
    color: #000000;
}

.offcanvas-header .btn-close {
    background-color: #FF8A00;
    opacity: 1;
    border-radius: 50px;
}
.offcanvas-body ul.navbar-nav li.nav-item {
    margin-bottom: 10px;
}
.offcanvas-body ul.navbar-nav li.nav-item.active a {
    color: #ff8a00;
}
.offcanvas-body ul.navbar-nav li.nav-item a {
    color: #000000;
}
.hero__search__form form input {
    padding-left: 10px;
}
.navform button.btn {
    background: #ff8a00;
    border-color: #ff8a00;
}
.hero__search__form form button {
    padding: 13px 13px 13px !important;
}
.hero__search__form {
    display: none;
}
.navform input.form-control {
    border: 1px solid #e7e7e7;
    height: 46px;
}
.btm-row {
    display: none;
}
.mob--left {
    width: 50%;
    text-align: left !important;
}
.mob-right {
    width: 50%;
    margin-top: 0px !important;
	justify-content: end !important;
    padding-right: 0px;
}
.center-row .searchbar {
    display: none !important;
}
.mob-right button.navbar-toggler {
    background: none;
	padding-right: 0px;
    border: none;
}
.navbar-toggler-icon {
 background-image: url("images/bar.png");
}
.cust-slider .carousel-inner .carousel-item img {
    height: 350px;
    object-fit: cover;
}
.cust-slider .carousel-caption h1 {
    font-size: 26px;
    color: #ffffff;
}
.cust-slider .carousel-caption {
    width: 80%;
	padding-top: 0px;
}
.cust-slider .carousel-caption p {
    line-height: 24px;
}
.col-lg-1 {
    display: none;
}
.lft_abt {
    margin-top: 20px;
}
.rgt_abts {
    min-height: 200px !important;
}
.services-block p.text-white {
    font-size: 16px;
    line-height: 22px;
}
.services-block h2.text-white {
    font-size: calc(1.325rem + .9vw);
}
.services-block {
    padding-top: 50px !important;
    padding-bottom: 60px !important;
}
.category-carousel .category-item .category-title {
    font-size: 16px;
    line-height: 20px;
}
.fabrics-block {
    padding-top: 0px !important;
}
.designs-block {
    padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.fabrics--boxs img {
    border-radius: 8px;
    height: 250px;
    object-fit: cover;
}
.grid-fabric {
    margin-top: 10px;
}
.designs-block .py-5 {
    padding-bottom: 35px !important;
}
.mem-infos {
    padding-left: 0px;
}
.abt--img.h-100 img {
    height: auto !important;
}
.abt-min-ht {
    min-height: 200px !important;
}
.about-text {
    padding: 30px 30px !important;
	        margin-top: 15px;
	padding-top: 75px !important;
}
.row>* {
    padding-right: 0px;
    padding-left: 0px;
}
.featured_block {
    padding-left: 20px;
    padding-right: 20px;
}
.container.about {
    padding-top: 50px;
    padding-bottom: 50px;
	        padding-left: 15px;
        padding-right: 15px;
}
.hiw .py-5 {
    padding-top: 0px !important;
}
.testimonial {
    margin-right: 0px;
}
.category {
    padding-top: 35px;
    padding-bottom: 35px;
	    padding-left: 40px;
    padding-right: 40px;
}
.newsletter .wow {
    margin-top: var(--bs-gutter-y);
}
.container.newsletter {
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
	    margin-bottom: 50px;
}
.social-links ul {
    display: flex;
    justify-content: center;
}
.news-image {
    padding-bottom: 10px;
}
.news--boxs input {
    width: 100%;
}
.news--boxs form {
    display: block !important;
}
.news--boxs button.btn {
    margin-left: 0px;
    margin-top: 15px;
}
.credit-link {
    text-align: center !important;
}
.col-md-4.copyright {
    text-align: center;
    margin: 5px 0px;
}
ul.navbar-nav.desk-hide {    
	display: block !important;
}
.rgt_abts img.position-absolute {
    height: auto !important;
}
.abt-block {
    padding-top: 75px !important;
    padding-bottom: 100px !important;
}
}


@media screen and (min-width: 768px) and (max-width: 1024px) { 
    .searchbar {
    display: none !important;
}    .navbar-toggler-icon {        background-image: url(images/bar.png);    }	.mob-right button.navbar-toggler {        background: none;        padding-right: 0px;        border: none;    }	    .offcanvas-header .btn-close {        background-color: #FF8A00;        opacity: 1;        border-radius: 50px;    }	    .offcanvas-body ul.navbar-nav li.nav-item.active a {        color: #ff8a00;    }	    .offcanvas-body ul.navbar-nav li.nav-item {        margin-bottom: 10px;    }	.offcanvas-body ul.navbar-nav li.nav-item.active a {        color: #ff8a00;    }	    .offcanvas-body ul.navbar-nav li.nav-item a {        color: #000000;    }	    .container.newsletter {        padding-right: calc(var(--bs-gutter-x)* .5);        padding-left: calc(var(--bs-gutter-x)* .5);        margin-bottom: 50px;		        padding-top: 55px;        padding-bottom: 55px;    }		.news--boxs input {        width: 100%;    }	    .news--boxs form {        display: block !important;    }	    .news--boxs button.btn {        margin-left: 0px;        margin-top: 15px;    }	ul.navbar-nav.desk-hide {    display: block !important;}
    .btm-row {
        display: none;
    }
	.cust-slider .carousel-inner .carousel-item img {
    height: 450px;
    object-fit: cover;
}
.cust-slider .carousel-caption {
	padding-top: 0px;
}
.lft_abt p {
    max-width: inherit;
}
.col-lg-1 {
    display: none;
}
.lft_abt {
    margin-top: 20px;
}
.rgt_abts {
    margin-bottom: 50px;
}
}.desk-hide {    display: none !important;}.d--none {    display: none !important;}